<%- include("header"); -%>

<div class="box">
  <h1> <%= listTitle %> </h1>
</div>

  <% for(let i=0; i < newItem.length; i++) {%>
  <li><%= newItem[i] %></li>
  <% } %>


<form action="/" method="post">
  <input type="text" name="item" placeholder="Enter Next Item" autocomplete="off">
  <button type="submit" name="listItem" value="<%= listTitle %>">+</button>
</form>


<%- include("footer"); -%>
