<%- include("header"); -%>

<div id="heading" class="box">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <!-- Loop through array of Mongo documents -->
  <% newListItems.forEach(function(newListItem) { %>
    <!-- Remove items from the list -->
    <form action="/delete" method="post">
      <div class="item">
        <!-- Delete the item when the corresponding checkbox is clicked -->
        <input type="checkbox" name="deleteItem" value="<%= newListItem._id %>" onChange="this.form.submit()">
        <!-- Pass the name field values into the To Do list -->
        <p><%= newListItem.name %></p>
      </div>
    </form>
  <% }); %>

  <!-- Add new items to the list -->
  <form class="item" action="/" method="post">
    <!-- New item -->
    <input type="text" name="newItem" placeholder="Enter Next Item" autocomplete="off">
    <!-- Post to root -->
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer"); -%>
