<%- include("header"); -%>

<div id="heading" class="box">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% newListItems.forEach(function(newListItem) { %>
    <!-- Remove items from the list -->
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox">
        <!-- Pass the name field values into the To Do list -->
        <p><%= newListItem.name %></p>
      </div>
    </form>
  <% }); %>

  <!-- Add new items to the list -->
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Enter Next Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer"); -%>
