<%- include("header"); -%>

<h1> <%= newDate %> </h1>


  <% for(let i=0; i < newItem.length; i++) {%>
  <li><%= newItem[i] %></li>
  <% } %>


<form action="/" method="post">
  <input type="text" name="item" placeholder="Enter Next Item" autocomplete="off">
  <button type="submit" name="button" value="<%= newDate %>">+</button>
</form>


<%- include("footer"); -%>
